.card {
    display: flex;
    flex-direction: row;
}

.image {
    width: 190px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px lightgrey;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 30px;
    box-sizing: border-box;
    width: calc(100% - 190px);
}

.info > h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.info > h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #4b4b4b;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location-icon {
    color: #F55A5A;
    font-size: 15px !important;
}

.location > span {
    text-transform: uppercase;
    margin: 0 7px;
    letter-spacing: 2px;
    font-size: 13px;
    color: #666666;
}

.location > a {
    font-size: 13px;
    color: grey;
    letter-spacing: 0.5px;
}

/* .location > a:visited {
    color: red;
} */
